$lightColor: #F8F8F8;
$darkColor: #0C0C0C;
$gray200: #7B7B7B;
$primaryColor: #252160;
$secundaryColor: #3AFFE5;
$blueColor: #32B5FF;
$orangeColor: #FF9900;

/* background: linear-gradient(145.09deg, #26E9CF 11.81%, #25CDE1 95.89%); */