@import 'partials/variables';

.header{
  height: 95vh;
  background-color: $primaryColor;
  display: flex;
  flex-direction: column;
  
  .headerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    
      span:last-child {
        margin-top: 1rem;
        font-family: 'Inter', sans-serif;
        color: $secundaryColor;
        font-weight: 700;
        font-size: 14px;
      }
    }

    h1{
      font-family: 'Fredoka One', sans-serif;
      font-size: 3rem;
      text-align: center;
      margin: 2rem 0;

      span {
        color: $secundaryColor;
      }
    }

    p{
      font-size: 14px;
      text-align: center;
      padding: 0 3rem;
    }

    h1, p {
      color: $lightColor;
    }

    .headerButtom{
      display: inline-block;
      margin-top: 6rem;
      background-color: $secundaryColor;
      padding: 1rem 5rem;
      color: $primaryColor;
      border-radius: 5px;
      text-decoration: none;
      font-weight: 700;
      font-size: 16px;

      i{
        margin-left: 1rem;
      }
    }

    .retangule{
      display: none;
    }
  }
  .ilustrations{
    display: none;
  }
}
.sectionParceiros{
  overflow: hidden;

  .parceirosImageContainer {
    display: none;
  }
  .parceirosImageBg{
    height: 166px;
    width: 1270px;
    background-image: url('../public/parceiros.png');
    animation: animar 20s linear infinite alternate-reverse;
    
    @keyframes animar{
      from{
          transform: translateX(-90%) translateY(0);
      }
      to {
          transform: translateX(10%) translateY(0);
      }
    }
  }
}
.main{

  .main_section{
    display: flex;
    
    &:nth-child(1){
      .section_left{
        padding: 6rem 2rem;
        display: flex;
        flex-direction: column;
        
        .section__left__container{
          text-align: center;
          display: flex;
          align-items: center;
          flex-direction: column;
          margin-bottom: 1rem;
          
          .left__container__image{
            border: 2px solid $secundaryColor;
            display: flex;
            width: max-content;
            border-radius: 50%;
            padding: 1rem;
          }

          .left__container__description{
            h3{
              color: $primaryColor;
            }
          }

          &:last-child{
            margin: 0;
          }
        }
      }
      .section_right{
        display: none;
      }
    }

    &:nth-child(2){
      font-family: 'Nunito', sans-serif;
      padding: 2rem;
      background-color: $lightColor;
      display: flex;
      flex-direction: column;

      .main_section_container{
        text-align: center;

        .section_container_image{
          display: flex;
          justify-content: center;
        }

        span {
          font-weight: bold;
          color: $blueColor;
          font-size: 1.5rem;
          text-transform: uppercase;
        }
        h3{
          font-weight: bold;
          color: $primaryColor;
          font-size: 2rem;
        }
        p {
          font-size: 20px;
        }

      }
    }

    &:nth-child(3){
      padding: 2rem;
      flex-direction: column;
      font-family: 'Nunito', sans-serif;

      .main_section_card_title{
        margin-bottom: 2rem;

        span {
          font-weight: bold;
          color: $blueColor;
          font-size: 1.5rem;
          text-transform: uppercase;
        }
        h2{
          font-weight: bold;
          color: $primaryColor;
          font-size: 3rem;
        }
      }

      .section_card{
        display: flex;
        flex-direction: column;

        .section_cardContainer{

          padding: 6rem 2rem;
          border-radius: 6px;

          ul li{
            list-style: none;
            margin-left: -35px;

            i{
              margin-right: .5rem;
            }
          }
          
          &:nth-child(odd){
            background-color: $primaryColor;
            position: relative;
            margin-bottom: 2rem;

            .section_card_titleContainer{

              .card_title{
                span{
                  color: #3C5882;
                }
                h3{
                  color: white;
                }
              }
              .section_card_starContainer{
                position: absolute;
                display: flex;
                top: 3%;
                right: 2%;
                background: url('../public/illustrations/star.png') no-repeat;
                background-size: contain;

                transform: rotate(30deg);
                
                p{
                  text-align: center;
                  margin: 1rem 0;
                  color: $primaryColor;
                  padding: 1rem;
                  font-size: 1rem;

                  span{
                    font-size: 1.2rem;
                    font-weight: bold;
                    padding: 0;
                  }

                }
              }
            }
  
            .section_cardContent{
              span{                
                color: $blueColor;
              }
              ul li{
                color: $lightColor;
              }
            }
  
            .section_cardValues{
              .cardValuesContainer{
                .cardValuesContainerPosition{
                  &:nth-child(1){
                    div:nth-child(2){
                      p {
                        margin-bottom: 0;

                        span{
                          color: $lightColor;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          &:nth-child(even){
            border: 1px solid #201e542e;

            .section_card_titleContainer{

              .card_title{
                span{
                  color: $primaryColor
                }
                h3{
                  color: $primaryColor
                }
              }
            }
  
            .section_cardContent{
              span{                
                color: $blueColor;
              }
              ul li{
                color: $primaryColor;
              }
            }

            .section_cardValues{
              .cardValuesContainer{
                .cardValuesContainerPosition{
                  &:nth-child(1){
                    div:nth-child(2){
                      p {
                        color: $primaryColor;
                        span{
                          color: $primaryColor;
                          display: inline-block;
                          padding-top: 3rem;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .section_card_titleContainer{
            margin-bottom: 2rem;
            
            .card_title{
              span{
                font-size: 1.5rem;
              }
              h3{
                font-size: 3rem;
              }
            }
          }

          .section_cardContent{
            span{
              color: $blueColor;
              font-size: 1.5rem;
            }
            ul{
              margin-top: 2rem;

              li{
                display: flex;
              }
            }
          }

          .section_cardValues{
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            
            .cardValuesContainer{
              flex: 2;
              
              &:nth-child(1){
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
              }
              &:nth-child(2){
                display: flex;
                align-items: center;
                justify-content: center;

                .buttonCard{
                  display: flex;
                  justify-content: center;
                  width: 100%;
                  padding: 1rem;

                  background-color: $secundaryColor;
                  
                  text-decoration: none;
                  color: white;
                  border-radius: 6px;
  
                  &:hover{
                    filter: brightness(0.9);
                    color: white;
                  }
                }
              }

              .cardValuesContainerPosition{
                display: flex;

                &:nth-child(1){

                  div:nth-child(1){
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    span{
                      color: $blueColor;
                      font-size: 1.3rem;
                      font-weight: bold;
                    }
                  }
                  div:nth-child(2){
                    flex-direction: column;
                    align-items: center;

                    p span{
                      font-size: 2rem;
                      font-weight: bold;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    // slider
    &:nth-child(4){
      padding: 2rem;
      flex-direction: column;

      .sectionSliderTitle{
        max-width: 100%;
        margin-bottom: 2rem;

        span {
          font-weight: bold;
          color: $blueColor;
          font-size: 1.5rem;
          text-transform: uppercase;
        }
        h2{
          font-weight: bold;
          color: $primaryColor;
          font-size: 3rem;
        }
      }

    }
  }
}
.sectionCta{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 2rem;
  background-color: $primaryColor;
  
  .sectionCtaContainer:nth-child(1) {
    position: relative;

    .ImageBg{ 
      margin-top: 2rem;
    }
  }
  .sectionCtaContainer:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    div:nth-child(1){
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      > span{
        color: $secundaryColor;
        font-weight: bold;
        margin-left: 1rem;
      }
    }
    div:nth-child(2){
      p{
        color: $lightColor;
      }
    }
    div.ctaButtomContainer{
      display: flex;
      align-items: center;
      margin-top: 1rem;

      .ctaButtom{
        background-color: $secundaryColor;
        padding: 1rem 3rem;
        border-radius: 6px;

        color: $primaryColor;
        text-decoration: none;
        font-weight: bold;

        i{
          margin-left: 1rem;
        }

        &:hover{
          filter: brightness(0.9);
        }
      }
    }
  }
}
.footer{
  .footer_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 2rem 0 2rem;

    .footer_containerItem:nth-child(1){
      .footerContainerLogo{
        margin-bottom: 2rem;
      }
      .footerContainerStore{
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        .footerContainerItem_buttomStore{
          display: flex;
          align-items: center;
          justify-content: center;

          padding: .5rem 3rem;
          font-size: 1rem;
          color: $primaryColor;
          border-radius: 6px;
          box-shadow: 0 0 5px -1px #0000003a;
          text-decoration: none;

          i{
            font-weight: bold;
            margin-right: 1rem;
          }

          &:nth-child(2){
            margin-top: 1rem;
          }

          &:hover{
            color: $secundaryColor;
          }
        }
      }
    }
    .footer_containerItem:nth-child(2){

      .footerContainerItem_menu{
        display: flex;
        flex-direction: column;

        .footerContainerItem_menuItem{
          list-style: none;
          color: $primaryColor;
          font-size: 1rem;
          font-weight: bold;
          margin-left: -33px;
          padding-right: 3rem;
          margin-bottom: 1rem;

        }
      }
      .footerContainerItem_submenu{
        .footerContainerItem_submenuItem{
          list-style: none;
          color: $gray200;
          margin-left: -33px;
          font-weight: normal;
        }
      }
    }

    &:nth-child(2){
      align-items: center;
      padding: 0 2rem 2rem 2rem;

      .footerSocialIcons{
        a{
          text-decoration: none;
          
          i{
            margin: 0 .5rem;
            font-size: 1.2rem;
            color: $primaryColor;
  
            &:hover{
              color: $secundaryColor;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .header{
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 1;

    background: $primaryColor url('../public/illustrations/bg-header.svg') no-repeat right;
    
    .headerContent{
      padding: 3rem;
      flex: 6;
      justify-content: flex-start;
      align-items: flex-start;
      height: auto;

      > div {
        flex-direction: row;
        justify-content: center;

        span:last-child {
          margin: 0 0 0 1rem;
          font-size: 1rem;
        }
      }

      h1{
        font-size: 4rem;
        text-align: left;
  
        span {
          color: $secundaryColor;
        }
      }

      p{
        font-size: 20px;
        text-align: left;
        padding: 0;
      }

      .headerButtom{
        margin-top: 1rem;
      }

      .retangule{
        position: absolute;
        top: 15%;
        left: -10%;
        z-index: -5;
        display: block;
        background-color: #292663d5;
        min-width: 60%;
        min-height: 65%;
        border-radius: 124px;
        transform: rotate(-25deg);
      }
    }

    .ilustrations{
      display: flex;
      padding: 3rem;
      flex: 6;
    }
  }
  .sectionParceiros{
    .parceirosImageContainer {
      display: flex;
      justify-content: center;
      animation: none;
    }
    .parceirosImageBg{
      display: none;
    }
  }
  .main{
    .main_section{
      &:nth-child(1){
    
        .section_left{
          padding: 3rem 6rem;
          display: flex;
          justify-content: center;

          .section__left__container{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            text-align: left;
            
            .left__container__image{
              display: flex;
              padding: .6rem;
            }
  
            .left__container__description{
              width: 60%;
              margin-left: 2rem;
 
              h3{
                color: $primaryColor;
              }
            }

            &:last-child{
              margin-top: 1rem;
            }
          }
          
        }
        .section_right{
          display: block;
        }
      }

      &:nth-child(2){
        flex-direction: row;
        padding: 3rem 6rem;
  
        .main_section_container{
          text-align: left;
          
          h3{
            font-size: 3rem;
            width: 80%;
          }

          &:nth-child(even){
            margin-top: 1rem;
            display: flex;
            flex-direction: column-reverse;
          }
        }
      }

      &:nth-child(3){
        padding: 3rem 6rem;

        .section_card{
          flex-direction: row;
          gap: 2rem;
          flex-wrap: wrap;
  
          .section_cardContainer{
            flex: 1;

            &:nth-child(odd){
              margin-bottom: 0;
            }

            .section_cardValues{
              flex-direction: row;

              .cardValuesContainer{

                &:nth-child(2){
  
                  .buttonCard{
                    padding: 1rem 3rem;
                  }
                }
              }
            }
          }
        }
      }

      // slider
    &:nth-child(4){
      padding: 6rem;

      .sectionSliderTitle{
        max-width: 50%;
      }
    }
    }
  }
  .sectionCta{
    flex-direction: row;
    padding: 0 6rem;
    margin-top: 6rem;
    gap: 1rem;

    .sectionCtaContainer{
      flex: 1;
      padding: 15rem 0;
    }
    .sectionCtaContainer:nth-child(1){
      
      .ImageBg{
        position: absolute;
        bottom: -15%;
        left: 0;
        margin-top: 0;
      }
    }
    .sectionCtaContainer:nth-child(2){
      align-items: flex-start;
      text-align: left;

      div:nth-child(2){
        p{
          width: 90%;
        }
      }
    }
  }

  .footer{
    .footer_container{
      flex-direction: row;
      padding: 2rem 6rem;
  
      .footer_containerItem:nth-child(1){
        flex: 6;

        .footerContainerStore{
          flex-direction: row;
          margin-bottom: 0;

          .footerContainerItem_buttomStore{
  
            &:nth-child(2){
              margin: 0 0 0 1rem;
            }
          }
        }
      }
      .footer_containerItem:nth-child(2){
        flex: 8;
  
        .footerContainerItem_menu{
          flex-direction: row;
          align-items: flex-start;
          justify-content: center;
        }
      }
  
      &:nth-child(2){
        padding: 2rem 6rem;
      }
    }
  }
}
